

.wrap {
	max-width: 1180px;
	margin: 0 auto;
}

.content {
	border-top: 15px solid $red;

	h1, h2, h3, h4, h5, h6 {
		padding: 6px 0;
	}
}

.content-narrow {
	@extend .content-style;	
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 20px;

	@include respond-to( 768px ) {
		padding: 50px 30px;
	}

	@include respond-to( 1220px ) {
		padding: 70px 0;
	}

}

.content-wide {
	@include clearfix;
	@extend .content-style;
	padding: 40px 20px;
	
	@include respond-to( 768px ) {
		padding: 40px 30px;
	}

	@include respond-to( 1220px ) {
		padding: 40px 0;
	}
	
	&.home iframe:first-child {
		@include respond-to( 840px ) {
			float: right;
			margin: 20px 0 20px 5%;
		}
	}
	
	&.blog {
		padding: 20px;

		@include respond-to( 768px ) {
			padding: 10px 30px;
		}

		@include respond-to( 1220px ) {
			padding: 10px 0;
		}
	}

	.entry {
		padding: 30px 0;
		border-top: 1px solid lighten( $grey, 20% );

		&:first-child {
			border-top: 0;
		}
	}
}


.fluid-width-video-wrapper {
	margin: 15px 0;
}


.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;
	}

	.quarter {
		width: 23%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}

	.half {
		width: 48%;
		margin: 0 1%;
	}
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

table {
	width: 100%;

	tr {
		td {
			vertical-align: top;
			padding: 6px 10px;
		}
	}
}


table {
	width: 100%;

	tr {
		td {
			vertical-align: top;
			padding: 6px 10px;
		}
	}
}


@mixin field-styles {
	padding: 10px 12px;
	border: 1px solid lighten( $grey , 20% );
	font-size: 1em;
	color: #333;	
}


.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
		}

		&.gform_fields {
			padding: 5px 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $grey-dark;
		padding: 10px 0 5px;
	}

	blockquote {
		padding: 10px 25px;
		font-style: italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey, 25% );
		margin: 10px 0 10px 20px;
	}

	hr {
		border: 0;
		border-bottom: 1px solid lighten( $grey, 25% );
		padding: 0;
		margin: 25px 0;
		@include clearfix;
	}

	img, .wp-caption {

		@include respond-to( 600px ) {
			&.alignleft {
				float: left;
				margin: 0 10px 10px 0;
			}

			&.alignright {
				float: right;
				margin: 0 0 10px 10px;
			}
			
			&.aligncenter {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.wp-caption {
		color: $grey;
		max-width: 40%;

		p {
			padding: 4px 0;
		}

		@include respond-to( 768px ) {
			float: right;
			margin: 0 0 20px 20px;
		}

		.caption, .wp-caption-text {
			font-size: .9em;
			font-style: italic;
		}
	}

	.quiet {
		color: lighten( $grey, 10% );
		font-style: italic;

		a {
			color: darken( $grey, 5% );
		}
	}

	.frame-shadow {
		box-shadow: 0 0 50px rgba( $grey, .2 );
		border: 1px solid lighten( $grey , 20% );
	}

	.gform_wrapper {
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
			@include field-styles;
		}
	}

	input[type=text] {
		@include field-styles
	}

	button, input[type=submit], input[type=button], .fasc-button {
		@include font;
		display: inline-block;
		padding: 9px 20px 6px;
		max-width: 100%;
		font-size: 20px !important;
		background: $red;
		border: 0;
		color: white;
		text-transform: uppercase;
		border-radius: 10px;
		transition: 300ms opacity ease-in-out;
		opacity: 1;
		cursor: pointer;

		&:hover {
			opacity: .8;
		}
	}

}

