
.cu-branding {
	border-top: 3px solid $red;
	padding: 30px 20px;

	@include respond-to( 1024px ) {
		padding: 30px 0;
		margin: 0 auto;
	}

	img {
		display: block;
		margin: 0 auto;

		@include respond-to( 600px ) {
			float: right;
			margin: 0 0 20px 20px
		}
	}

	h3 {
		color: black;
		
		@include respond-to( 768px ) {
			padding: 20px 0;
		}
		
		@include respond-to( 1024px ) {
			padding: 30px 0;

			span {
				display: block;
			}
		}
	}
}


footer {
	background: $red;
	background-size: cover;
	color: white;
	@include clearfix;
	padding: 20px 0;
	font-size: 1.1em;
	line-height: 1.6em;

	p {
		padding: 0;
	}

	@include respond-to( 1024px ) {
		padding: 30px 0;
	}

	.column {
		padding: 15px 20px;

		@include respond-to( 1024px ) {
			padding: 0 40px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:nth-child(2) {
			padding-bottom: 0;
		}

		&:nth-child(3) {
			padding-top: 0;
		}

		@include respond-to( 768px ) {
			padding: 0 20px;
			float: left;
			width: 20%;

			&:nth-child(2) {
				border-right: 4px solid white;
			}

			&:first-child {
				width: 40%;
			}
		}
	}

	a {
		color: white;
		text-decoration: none;
	}

	nav {
		a {
			text-transform: uppercase;
		}
	}

	.social {
		padding: 10px 20px 0 20px;

		@include respond-to( 768px ) {
			text-align: right;
			padding: 0 40px 0 0;
		}
	}
}

