

.large-title {
	padding: 20px;
	border-bottom: 3px solid $red;
	
	@include respond-to( 768px ) { padding-top: 30px; }
	@include respond-to( 1220px ) { padding: 30px 0 20px 0; }

	.large-title-icon {
		float: right;
		max-width: 90px;

		@include respond-to( 500px ) {
			max-width: 120px;
		}

		img {
			display: block;
		}
	}

	.large-title-text {
		h1 {
			@include font-bold;
		}
	}
}

